
#cart {
    height:800px;
    width:600px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.productflex {
    height: auto;
    width: 600px;
    display: flex;
    margin: auto;
    margin-top: 300px;
    flex-direction: row;
    justify-content: space-evenly;
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
    background-color: white;
    margin-bottom: 20px;
}
.productnamecolumn {
    display: flex;
    position: relative;
    flex-direction: column;
}
.quantitycolumn {
    display: flex;
    position: relative;
    flex-direction: column;
    /* padding-left: 30px;
    padding-right: 30px; */
    padding-bottom: 10px;
    /* border: 0 solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000; */
}
.productpricecolumn {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-right: 20px;
}
.cartproductname {
    padding-top: 10px;
    padding-bottom: 8px;
    text-decoration: none;
    /* border-bottom: 1px solid black; */
}
.cartquantity {
    padding-bottom: 8px;
    /* border-bottom: 1px solid black; */
    padding-top: 10px;
}
.cartquantity input{
    width: 40px;
    height: 15px;
    text-align: center;
}
.editquantitycolumn {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 85px;
}
.editquantitycolumn button {
    margin-top:0px;
    margin-bottom:15px;
    color: black;
    background-color: white;
    border-radius: 4px; 
    height: 20px;
    width: 88px;
}
.deletebuttoncolumn {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 85px;
}
.deletebuttoncolumn button {
    margin-top:0px;
    margin-bottom:15px;
    color: black;
    background-color: white;
    border-radius: 4px; 
    height: 20px;
    width: 60px;
}
.cartproductprice {
    padding-bottom: 8px;
    padding-top: 10px;
}

.checkoutbutton {
    color: white;
    background-color: black;
    border-radius: 4px;
    height: 40px;
    width: 100px;
}

.total {
    align-self: flex-end;
}