@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');

.card{
  background-color: white;
  height: auto;
  flex-wrap: wrap;
  width: 260px;
  margin: 10px;
  padding: 0px;
  display: flex;
  flex: 'flex-grow';
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
}
.card p{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  font-size: 14px;
}

.card button {
  border: none;
  margin: 0px;
  padding: 0px;
}
 
.card a {
  text-decoration: none;
  color: black;
}

.flexbox{
z-index: 1;
 display: flex;
 height: auto;
 flex-direction: row;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-align-content: space-evenly;
 align-content: space-evenly;
 justify-content: space-evenly;
 align-items: baseline;
 position: absolute;
 top:400px;
}

@media screen and (min-width:300px)and (max-width:767px){
  .flexbox{
  z-index: 1;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
  position: absolute;
  top:260px;
  }
}
