
.card{
  background-color: white;
  height: 300px;
  width: 250px;
  margin: 10px;
}
.flexbox{
z-index: 1;
 display: flex;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-align-content: center;
 align-content: center;
 justify-content: center;
 padding-top: 10px;
 position: absolute;
 top:400px;
}

@media screen and (min-width:300px)and (max-width:767px){
  .flexbox{
  z-index: 1;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  justify-content: center;
  padding-top: 10px;
  position: absolute;
  top:260px;
  }
}
