.login {
    position: absolute;
    top:10px;
    left:10px;
    z-index: 4;
}
.login button {
    height: 30px;
    width: 90px;
    background-color: black;
    color: white;
    position: fixed;
    border: none;
    cursor: pointer;

}
.signup{
    position: absolute;
    top:10px;
    left:110px;
    z-index: 4;
}
.signup button {
    height: 30px;
    width: 90px;
    background-color: black;
    color: white;
    position: fixed;
    border: none;
    cursor: pointer;
}
.logout{
    position: absolute;
    top:10px;
    right:110px;
    z-index: 4;
}
.logout button{
    height: 30px;
    width: 90px;
    background-color: black;
    color: white;
    position: fixed;
    border: none;
    cursor: pointer;
}
.cart{
    position: absolute;
    top:10px;
    right:210px;
    z-index: 4;
}
.cart button{
    height: 30px;
    width: 90px;
    background-color: black;
    color: white;
    position: fixed;
    border: none;
    cursor: pointer;
}